
/*action-contents
------------------------------------------------------------------------------------*/
.action-content{
	margin:0 auto;
	text-align: center;
}
.a-btn{
	padding: 15px 40px;
	background: rgba(93, 202, 136,0.8);
	box-shadow: 0 7px #1a7940;
	margin-top: 40px;
	margin-bottom: 100px;
}
.a-btn:active{
	box-shadow:none;
	position: relative;
	top:6px;
}
.a-btn:hover{
	background: rgba(93, 202, 136,1.0);
}
.action-content h3{
	color:#5f5d60;
	font-weight:normal;
	font-size: 1.5rem;
	margin-top:95px;
}
.action-content p{
	font-size: 1.2rem;
	font-weight: bold;
	color:#5f5d60;
}
/*footer
--------------------------------------------------------------------------------------*/
.f-logo-box{
	max-width:120px;
}
footer p{
	margin-bottom: 30px;
	color:#b3aeb5;
	font-size: 0.8rem;
}
footer{
	padding-top: 30px;
	border-top:1px solid #eee;
}

/*action.html*/
.b-area{
	padding:20%;
	text-align: center;
	background: #f7f5f5;
	margin:0 auto;
	min-height: 100vh;
}
.fa-wrench{
	margin-right: 5px;
}
.fa-undo{
	margin-right: 9px;
}
.b-area p{
	opacity: 0.9;
	margin-bottom: 30px;
}
.fa-exclamation-triangle{
	margin-right: 3px;
	color: #d90707;
}
.b-btn{
	padding: 15px 40px;
	background: hsl(228, 81%, 55%);
	box-shadow: 0 7px #2141bf;
	margin-top: 40px;
	margin-bottom: 100px;
	transition: background .3s;
}
.b-btn:hover{
	background: hsl(228, 81%, 60%);
}
.b-btn:active{
	box-shadow:none;
	position: relative;
	top:6px;
}
.loading{
	width:3rem;
	height:3rem;
	border: 8px solid #ccc;
	border-right-color:transparent;
	border-radius: 50%;
	margin: 0 auto;

	animation: spin .8s infinite linear;
}
@keyframes spin {
	from{
		transform: none;
	}
	to{
		transform: rotate(360deg);
	}
}
.message{
	width:30%;
	padding: 8px 16px;
	background: #2c2c2c;
  color:#ddd;
  border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	position: fixed;
  right: 20px;
  top: 20px;
	font-size: 0.7rem;

	animation: popup 3s forwards;
	animation-timing-function: ease-out;

}
@keyframes popup {
	0%{
		transform: translateY(20px);
		opacity: 0;
	}
	20%,80%{
		transform:none;
		opacity: 1;
	}
	100%{
		transform: translateY(20px);
		opacity: 0;
	}
}
